src/main/mule/common.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<flow name="common-hubspot-request-flow" doc:id="a94e4de9-81b6-4103-855a-3a65e85a5d76" >
		<http:request method="#[vars.parameters.method]" doc:name="Request to hubspot" doc:id="be4ec2d0-8e34-4c73-8b53-30ded842db01" url="#[vars.parameters.url]" sendCorrelationId="ALWAYS">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ p('secure::hubspot.token')
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Set Response Payload" doc:id="d459c244-3114-40c6-9d7c-d9195ab3c9fb" >
			<ee:message >
				<ee:set-payload resource="dwl/common/msg-response-json-payload.dwl" />
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate - ANY" doc:id="45bf8db1-e462-44b5-bb74-74ac0c128452" type="ANY">
				<ee:transform doc:name="Set Error message" doc:id="8d9addae-4a61-4f16-92e9-2bb963bdf0a7" >
					<ee:message >
						<ee:set-payload resource="dwl/common/msg-set-error-message.dwl" />
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
